<footer class="footer">
    <div class="footer-content">
        <div class="contact-info">
            <h4 class="brand">PhotoConnect</h4>
            <p><i class="fab fa-instagram"></i> @PhotoConnect</p>
            <p><i class="fas fa-envelope"></i> photo.connect@gmail.com</p>
            <p><i class="fas fa-phone"></i> +91 777 - 123 - 123</p>
        </div>

        <div class="footer-links">
            <div class="nav-links">
                <p><a href="#">Home</a></p>
                <p><a href="#">Photographers</a></p>
                <p><a href="#">About Us</a></p>
                <p><a href="#">Contact Us</a></p>
            </div>

            <div class="career-links">
                <p><a href="#">Become a Photographer</a></p>
                <p><a href="#">Careers</a></p>
            </div>
        </div>
    </div>
</footer>