<footer class="footer">
  <div>
    <h3>PhotoConnect</h3>
    <p>📸 @PhotoConnect</p>
    <p>📩 <a href="mailto:photoconnect@gmail.com">photoconnect@gmail.com</a></p>
    <p>📞 <a href="tel:+94777123123">+94 777 123 123</a></p>
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/photographers.html">Photographers</a></li>
      <li><a href="/pages/about_us.html">About Us</a></li>
    </ul>

    <ul>
      <li><a href="/pages/phreq.html">Become a Photographer</a></li>
      <li><a href="/pages/contact_us.html">Contact Us</a></li>
    </ul>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2020-2025 PhotoConnect, LLC. All Rights Reserved.</p>
  </div>
</footer>
