<footer class="footer">
  <div>
    <h3>PhotoConnect</h3>
    <p>📸 @PhotoConnect</p>
    <p>📩 photoconnect@gmail.com</p>
    <p>📞 +94 777 123 123</p>
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/pages/photographers.html">Photographers</a></li>
      <li><a href="/pages/about.html">About Us</a></li>
    </ul>

    <ul>
      <li><a href="#">Become a Photographer</a></li>
      <li><a href="#">Careers</a></li>
    </ul>
  </div>
</footer>
